@media (max-width: 1920px)
{
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;
        
        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
        font-size: smaller;
        margin-left: 32%;
        height: 6rem;
    }
}
@media (max-width: 1360px)
{
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;
        
        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
        font-size: smaller;
        margin-left: 27%;
        height: 6rem;
    }
    .navcontainer{
        margin-left: 41%;
    }
}
@media (max-width: 300px)
{
    .navcontainer{
        margin-left: 20%;
    }
}
@media (max-width: 810px)
{
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;
        
        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
        font-size: smaller;
        margin-left: 10%;
        height: 6rem;
    }
    .navcontainer{
        margin-left: 35%;
    }
    table{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    .tablecontainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    .tabletd,.tableth,.tablecaption{
        width: 35%;
        padding: 0.5rem;
    }
}
@media (max-width: 768px)
{
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;
        
        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
        font-size: smaller;
        margin-left: 0%;
        height: 6rem;
    }

    .form{
        margin-left: 23%;
        width: 15rem;
    }
    
    .navcontainer{
        margin-left: 20%;
    }

    table{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .tablecontainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .tabletd,.tableth,.tablecaption{
        width: 20%;
        padding: 0.5rem;
    }
    /* table{
        margin-left: 25%;
        display: flex;
    }
    .tablecontainer{
        margin-left: 25%;
        display: flex;
    }
    .tablelink{
        margin-left: 0%;
    } */
}