<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>com.mycompany.sistema.autogestion.java.web.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Controlador de la lista de calificaciones del alumno</description>
        <servlet-name>CalificacionServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.CalificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.CursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.sistema.autogestion.java.web.controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalificacionServlet</servlet-name>
        <url-pattern>/jsp/jsp_alumnos/calificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoServlet</servlet-name>
        <url-pattern>/jsp/jsp_profesor/CursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/jsp/jsp_alumnos/logout</url-pattern>
        <url-pattern>/jsp/jsp_profesor/logout</url-pattern>
        <url-pattern>/jsp/jsp_admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/jsp/jsp_alumnos/materiasCalif</url-pattern>
        <url-pattern>/jsp/jsp_alumnos/materias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
